name: 'test'

on:
  push: 
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest
    env:
      PUPPETEER_SKIP_DOWNLOAD: 'true'
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'

      - run: pnpm install --no-frozen-lockfile

      - name: Run unit tests
        run: pnpm run test-coverage

      - name: Upload Coverage Artifact
        uses: actions/upload-artifact@v6
        with:
          name: web-coverage-report
          path: coverage
          retention-days: 30
          if-no-files-found: error